.Post{
margin: 0px 20px;
}
.base{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}
.details, .desc{
    margin-right: 6px;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 40px;
}
.myButton {
	background-color:#d0451b;
	border-radius:28px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}