.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
    
input{
    width: 335px;
    margin-left: 10px;
    padding: 8px;
    color: #c06014;
    border: none;
    outline: none;
}
.input{
    width: 350px;
    border-bottom: 2px solid #c06014;
}
.btn{
    color: black;
    margin-left: 10px;
    border: none;
    background-color: #c06014;
    padding: 7px 9px;
    border-radius: 10px;
}
.row{
    border: 2px solid #c06014;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.header{
display: flex;
justify-content: space-between;
}

.header > h1 {
    font-size: 25px ;
}
